<div class="search-container">
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <span class="logo" routerLink="/">Gaming DB</span>
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search 500,000+ games"
    />
    <button class="search-button">Search</button>
    <button class="search-button" (click)="connectWallet()">Connect Wallet</button>
    <span class="wallet-status search-wallet-status" *ngIf="connectedAccount">Connected: {{ connectedAccount }}</span>

  </form>
</div>
