<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; connect-src 'self' chrome-extension://ebjabocgmjhfnlngeimpmapmkdjnioop; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://cdnjs.cloudflare.com"></add>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

